<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineVerse</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <div class="logo">🎬 CineVerse</div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Anime</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Unlimited Movies, TV Shows & Anime</h1>

        <p>
            Discover the world's best entertainment in one place.
        </p>

        <button>Explore Now</button>
    </section>

</body>
</html>
